# SASS PATH @https://create-react-app.dev/docs/adding-a-sass-stylesheet/#docsNav 
# SASS_PATH=node_modules:src    # if this is not working switch with line 3
SASS_PATH=./node_modules;./src  # for windows

#------------------------SWITCH BETWEEN PRODUCTION AND DEVELOPMENT---------------------#

# production
# REACT_APP_BACKEND_SERVER = 

# development
REACT_APP_BACKEND_SERVER = http://localhost:3001
