//** PARTIAL SCSS - PUT ALL THE VARIABLES THAT WE NEED HERE **//

// font size variables
$font-size-s: (
  // 40px
  'stand-out': 2.5rem,
  // 35px
  'big-font': 2.1875rem,
  // 20px
  'normal-1': 1.25rem,
  // 16px
  'normal-2': 1rem,
  // 14px
  'normal-3': 0.875rem,
  // 12px
  'normal-4': 0.75rem
);

// colors
$colors: (
  'primary-bg': #2c2c2c,
);

// custom
$little-shadow: 0px 3px 8px #00000025;
$more-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
